*{
    font-family: 'Montserrat', sans-serif;    
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url(bg.png);
    background-size: cover;
}

.navbar{
    display: flex;
    padding:10px 10px;
    justify-content: space-between;
}

.help img{
    
}